.cards-container {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.card {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: white;
    perspective: 1000px; /* Enable 3D perspective */
    transition: box-shadow 0.3s; /* Smooth transition for glow */
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 15px #0072F5, 0 0 30px rgba(0, 114, 245, 0.5); /* Neon blue glow */
}

.card.small {
    width: 200px;
    height: 200px;
}
.card.wide {
    width: 400px;
    height: 200px;
}
.card.tall {
    width: 200px;
    height: 400px;
}
.card.large {
    width: 400px;
    height: 400px;
}

.card-flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back face when not facing the user */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.card-front {
    transform: rotateY(0deg);
}
  
.card-back {
    transform: rotateY(180deg);
    text-align: left;
    font-size: 12px; /* Smaller text for details */
}

.flipped {
    transform: rotateY(180deg);
}

.card h3 {
    margin: 0 0 10px;
    font-size: 16px;
}

.card h4 {
    margin: 0;
    font-size: 14px;
}

.card p {
    margin: 0;
    font-size: 12px;
}

.gauge-container {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    position: relative;
}
  
canvas {
    width: 100% !important;
    height: 100% !important;
}